<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Nobel Prizes in {{category}}</title>
  <link rel="stylesheet" href="prizes.css">
  <!-- Student edition, for homework purposes -->
</head>

<body>
  <main>
    <h1>Nobel Prizes in {{category}}</h1>
      <h2>From {{start}} to {{end}} </h2>
      <nav>
          <p> Other categories: 
<!-- Links to other pages. Generate these from data passed in -->
          </p>
      </nav>
<table>
    <thead><tr>
        <th>Year</th> 
        <th>Name</th> 
        <th>Accomplishment</th>
        </tr></thead>
    <tbody>
<!-- Generate the table here. -->
      {% for entry in prizes %}
      <tr>
        <td>{{entry.year}}</td>
        <td>{{entry.laureates[0].firstname}} {{entry.laureates[0].surname}}</td>
        <td>{{entry.laureates[0].motivation}}</td>
      </tr>
      {% endfor %}
    </tbody>
      </table>
  </main>
</body>

</html>
