<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../bootstrap.css">
  </head>
  <body class="bg-danger">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <!--<a class="navbar-brand" href="#">Navbar</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% for link in links.pages %}
            <a class="nav-item nav-link text-secondary" href="{{link.url}}">{{link.title}}</a>
          {% endfor %}
        </div>
      </div>
    </nav>
  
    {% block mainContent %}
    <main class="text-center">
      <header><h1>{{description}}</h1></header>
      <section>
        <div class="container"><div class="row"><div class="col">
          {{contents | safe}}
        </div></div></div>
      </section>
    </main>
    {% endblock %}
    
    <script src="../jquery-3.3.1.min.js"></script>
    <script src="../bootstrap.bundle.js" ></script>
  </body>
</html>
