{% extends "base.njk" %}

{% block mainContent %}
<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <h1 class="text-center">{{title}}</h1>
      <h2 class="text-center">{{address}}</h2>
      <figure class="text-center">
        <img src="../restaurant1.jpg" alt="Restaurant Location" class="figure-img rounded" id="beachside">
      </figure>
      <h3 class="text-center">{{hours.weekdays}}</h3>
      <h3 class="text-center">{{hours.weekends}}</h3>
    </div>
    <div class="col-2"></div>
  </div>
  
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center" id="menu">
      <h4 class="text-center">Menu</h4>
      <p>
        {% for object in menu.foodCats %}
        {% for key, value in object %}
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{key|replace(" ","")}}" aria-expanded="false" aria-controls="#{{key|replace(" ","")}}">
          {{key}}
        </button>
        {% endfor %}
        {% endfor %}
      </p>

      {% for i in range(0,4) %}
      {% for key, value in menu.foodCats[i] %}
      <div class="collapse" id="{{key|replace(" ","")}}" data-parent="#menu">
        <div class="card card-body">
          <ul class="list-group list-group-flush">
            {% for item in value %}
            <li class="list-group-item">{{item.name}} ({{item.description}}) - {{item.price}}</li>
            {% endfor %}
          </ul>
          <figure><img src="../{{pics.pictures[i].src}}" alt="{{pics.pictures[i].alt}}" class="figure-img rounded foodPic"><figcaption class="text-center"><em>{{pics.pictures[i].caption}}</em></figcaption></figure>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
      

    </div>
    <div class="col-2"></div>
  </div>
</div>
{% endblock %}