<!DOCTYPE html>
<html lang="en">
    <head><meta charset="utf-8">
        <title>{{ title }}</title>
		<link rel="stylesheet" href="takeout.css">
    </head>
    <body>
        <h1>{{ title }}</h1>
    <form action="web_order", method="POST">
        {% for cat, items in menu %}
            <section>
            <h2>{{cat}}</h2>
            <div class="menuItems">
            {% for item in items %}
                <span>{{ item.name }}</span> <span>${{item.price}}</span>
                <input type="number" name="{{ item.name }}" value="0" min="0", max="30">
            {% endfor %}
            </div>
            </section>
        {% endfor %}
    <button type="submit">Send your Order</button>
    </form>
    </body>
</html>